<h1>This is the front page</h1> 

<% @places.each do |place| %>
  <div style="width:500px;height:200px;border:1px solid #000;margin: 0 auto;">
  <h3><%= place.name %></h3>
  <h3><%= place.address %></h3>
  <h3><%= place.description %></h3>
  </div> <br>
<% end %>

